body{
    background: url('../img/cielo.jpg');
    /* background-attachment: fixed lo uso para 
    determina si la posición de la imagen de fondo será fija dentro de la pantalla 
    o se desplazará con su bloque contenedor
    */
    background-attachment: fixed;
}
#logo{
    background: #1F87C4;
}

#menu ul li:hover{
    background: #1F87C4;
}
.button-more{
    background: #1F87C4;
}