body{
    background: url('../img/rojo.jpg');
    /* background-attachment: fixed lo uso para 
    determina si la posición de la imagen de fondo será fija dentro de la pantalla 
    o se desplazará con su bloque contenedor
    */
    background-attachment: fixed;
}
#logo{
    background: #CA3413;
}

#menu ul li:hover{
    background: #CA3413;
}
.button-more{
    background: #CA3413;
}